@charset "UTF-8";

body {
  font-family: "Noto Sans KR", sans-serif;
  background: #F8FAFC;
  color: #333;
}
.app-container {
  display: flex;
  height: 100vh;
}

/* --- 사이드바 --- */
.sidebar {
  width: 490px;
}
.sidebar-inner{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%; 
  padding: 81px 25px 41px 25px;
  /* box-sizing: content-box; */
}
.form-group {
  margin-bottom: 25px;
}
.form-group label {
  display: block;
  height: 30px;
  padding-left: 22px;
  line-height: 30px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 25px;
}
/* 날짜 입력 */
.date-picker-wrapper {
  position: relative;
  width: 100%;
  height: 52px;
}
.date-picker-wrapper .date-picker-box{
  position: absolute;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 52px;
  padding: 0px 22px;
  border-radius: 18px;
  cursor: pointer;
  background: #fff;
  box-shadow: 0px 0px 5px #0000002B;
  z-index: 21;
}
.date-picker-wrapper input {
  border: none;
  outline: none;
  flex: 1;
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
  color: #474747;
}
.date-picker-wrapper .calendar-icon {
  display: inline-block;
  width: 29px;
  height: 25px;
  background: url(../images/icon_calendar.svg) no-repeat center / contain;
}
.date-picker-wrapper .calendar-icon.active {
  background: url(../images/icon_calendar_active.svg) no-repeat center / contain;
}
/* 달력 */
.calendar {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  padding: 45px 35px;
  padding-top: 75px;
  display: none;
  z-index: 20;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.calendar.show { display: block; }
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  height: 45px;
  font-weight: 500;
  font-size: 24px;
  border-bottom: 1px solid #f4f4f4;
  box-sizing: content-box;
}
.calendar-header .prev,
.calendar-header .next {
  display: inline-block;
  cursor: pointer;
  width: 9px;
  height: 15px;
  padding: 0 10px;
  box-sizing: content-box;
  background: no-repeat center;
}
.calendar-header .prev{
  background-image: url(../images/icon_prev.svg);
}
.calendar-header .next {
  background-image: url(../images/icon_next.svg);
}
.calendar-header .month-year{
  font-size: 30px;
  color: #686868;
}
.days-names, .date-grid {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  text-align: center;
  gap: 15px;
}
.days-names{
  padding: 20px 0;
}
.days-names div {
  font-size: 19px;
  color: #848484;
}
.date-cell {
  padding: 10px 0;
  cursor: pointer;
  border-radius: 50%;
  font-size: 21px;
  color: #494949;
  font-weight: 500;
}
.date-cell:hover { background: #ececff; }
.date-cell.selected {
  background: #a687fd; 
  color: #6B37FB; 
  border-radius: 50%;
}
/* 빈칸 표시용 */
.date-cell.empty { cursor: default; background: transparent; }

/* 의사 선택 */
.select-wrapper {
  position: relative;
  width: 100%;
  height: 52px;
  cursor: pointer;
  background: #fff;
  /* border-radius: 18px; */
  /* box-shadow: 0px 0px 5px #0000002B; */
}
.select-wrapper .selected {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 22px;
  height: 52px;
  font-size: 25px;
  font-weight: 700;
  box-shadow: 0px 0px 5px #0000002B; 
  border-radius: 18px;
  z-index: 11;
  cursor: pointer;
}
.select-wrapper .selected .select-icon{
  display: inline-block;
  width: 12px;
  height: 7px;
  background: url(../images/icon_dropdown.svg) no-repeat center / contain;
  transition: all 0.3s;
}
.select-wrapper .selected .select-icon.active{
  transform: rotate(180deg);
}

.select-wrapper .options-box{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 54px;
  z-index: 10;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0px 0px 5px #0000002B; 
}
.select-wrapper .options-box.show { display: block; }
.select-wrapper .options {
  max-height: 400px;
  overflow-y: auto;
  padding: 15px 25px;
}
.options li {
  display: flex;
  align-items: center;
  height: 67px;
  padding: 5px 10px;
  border-radius: 18px;
  transition: background .2s;
  cursor: pointer;
  gap: 20px;
}
.options li:hover { background: #f0f0f0; }
.options .avatar {
  width: 49px; 
  height: 49px;
  background: #ddd;
  border-radius: 50%;
  display: flex; 
  align-items: center; 
  justify-content: center;
}
.options .info{
  display: flex;
  flex-direction: column;
}
.options .info .name {
  font-weight: 500;
  font-size: 23px;
  color: #474747;
  line-height: 1;
}
.options .info .desc {
  font-size: 16px;
  color: #757575;
}

/* 환자 목록 */
/* 카드 공통 */
.patient-card {
  flex: 1;
  display: flex; 
  flex-direction: column;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  overflow: hidden;
  margin-top: 10px;
}
.patient-card .card-header {
  padding: 16px;
  border-bottom: 1px solid #eee;
  background: #8EA3BC;
  height: 59px;
}
.patient-card .card-header h3 {
  margin: 0;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}

/* 리스트 아이템 */
.patient-card .patient-list {
  flex: 1;
  overflow-y: auto;
  padding: 15px 35px;
}
.patient-card .list-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  padding: 12px 16px;
  border-radius: 18px;
  cursor: pointer;
  transition: background .2s;
  /* border-top: 2px dotted #EFEFEF; */
}
.patient-card .list-item:after{
  position: absolute;
  left: 15px;
  bottom: 0;
  display: block;
  content: '';
  width: calc(100% - 30px);
  height: 2px;
  background: url(../images/bg_line.svg) repeat-x;
}
.patient-card .list-item:last-child::after{
  display: none;
}
.patient-card .list-item:hover {
  background: #F4F6F9;
}

.patient-card .patient-info{
  display: flex;
  flex-direction: row;
    align-items: center;
    gap: 15px;
}
.patient-card .patient-info .patient-name {
  font-weight: 500;
  font-size: 25px;
}
/* 아이콘 */
.patient-card .patient-info .patient-icon {
  width: 31px;
  height: 32px;
  background: url(../images/icon_patient.svg) no-repeat center / contain;
}

/* 텍스트 정보 */
.patient-card .date-info {
  display: flex;
  color: #C9C9C9;
  font-size: 18px;
  gap: 10px;
}


/* active 상태 */
.patient-card .list-item.active {
  background: #6B37FB;
  color: #fff;
}
.patient-card .list-item.active::after {
  display: none;
}
.patient-card .list-item.active .patient-icon{
  background: url(../images/icon_patient_w.svg) no-repeat center / contain;
}
.patient-card .list-item.active .date-info {
  color: #fff;
}


/* --- 메인 컨텐츠 --- */
.content {
  flex: 1;
  padding: 28px 32px;
  padding-top: 120px;
  overflow-y: auto;
}
.record-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}
.record-header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  height: 64px;
  padding:0 20px;
  border-radius: 28px;
  background: #6B37FB;
  font-weight: 600;
  color: #fff;
}
.record-header h1 > span{
  display: inline-block;
}
.record-header .title-icon {
  width: 36px;
  height: 38px;
  background: url(../images/icon_patient_w.svg) no-repeat center / contain;
}
.record-header .txt {
  font-size: 33px;
}
.record-header .sub {
  font-size: 26px;
}
.btn-copy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  right: 0;
  padding: 8px 20px;
  font-size: 24px;
  font-weight: 700;
  background: #8EA3BC;
  color: #fff;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.btn-copy:hover { opacity: 0.9; }
.btn-copy .btn-icon{
  display: inline-block;
  width: 23px;
    height: 25px;
    background: url(../images/icon_copy.svg) no-repeat center / contain;
}


.record-section{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.record-section .field-box {
    background: #fff;
    /* border: 1px solid #e0e0e0; */
    padding: 30px 25px 35px;
    box-shadow: 0px 0px 10px #0000002B;
    border-radius: 26px;
}
.field-box h2 {
  font-size: 22px;
  color: #566575;
  margin-bottom: 20px;
  font-weight: 500;
}
.field-box h2 small {
  font-size: 22px;
  color: #566575;
  margin-left: 0px;
}
.field-box p,
.field-box ul {
  font-size: 26px;
  color: #1E293B;
  line-height: 1.6;
}
.field-box p{
  font-weight: 600;
}
.field-box:nth-child(2) p{
  font-weight: 500;
}
.field-box p.point{
  font-size: 31px;
}
.field-box ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 65px;
  font-weight: 600;
}